.header {
  display: flex;
  justify-content: space-between;

  &__info {
    display: flex;
  }

  &__option {
    display: none;
  }

  &__logo {
    width: 100%;
    margin-right: 27px;
  }

  &__planet {
    width: 100%;
    margin-right: 15px;
  }

  &__language {
    background: none;
    border: none;
    color: #FFFFFF;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

  &__small-logo {
    width: 100%;
  }

  &__img {
    width: 100%;
  }
}

.basket {
  &__img {
    width: 100%;
  }

  &__count {
    color: aliceblue;
    position: absolute;
    top: -8px;
    left: 16px;
    z-index: 2;
    background: #0B0C23;
  }

  &__area {
    position: relative;
  }
}

.small-basket {
  &__img {
    width: 100%;
  }

  &__count {
    color: aliceblue;
    position: absolute;
    top: -8px;
    left: 16px;
    z-index: 2;
    background: #0B0C23;
  }

  &__area {
    position: relative;
  }
}

@media screen and (max-device-width: 768px) {
  .header__info {
    display: none;
  }
  .header__option {
    display: flex;
    width: 100%;
    justify-content: inherit;
  }
  .basket {
    display: none;
  }
}
