.product-small {
  display: none;

  &__price {
    margin: 25px 0px 25px 90px;
    width: 100%;
    display: flex;
  }

  &__data {
    margin-right: 75px;
  }

  &__star {
    margin-left: 75px;
  }

  &__img {
    width: auto;
    height: 213.28px;
  }

  &__info {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-evenly;
  }
}

.product, .product-v2 {
  display: flex;
  height: 32px;
  margin: 10px 0px 10px 0;
  font-family: Open Sans, serif;
  font-style: normal;
  align-items: center;
  mix-blend-mode: normal;
  color: #FFFFFF;
  cursor: pointer;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  font-size: 12px;
}

.product {
  background: #232439;
}

.product-v2 {
  background: #17182e;
}

@media screen and (min-device-width: 450px) and (max-device-width: 768px) {
  .product-small {
    display: flex;
    height: auto;
    flex-direction: column;
    margin: 10px 0px 10px 0;
    font-family: Open Sans, serif;
    font-style: normal;
    align-items: center;
    mix-blend-mode: normal;
    color: #FFFFFF;
    cursor: pointer;
    background: #232439;
    justify-content: space-between;
  }
  .product, .product-v2 {
    display: none;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 449px) {
  .product-small {
    display: flex;
    height: auto;
    width: 220px;
    flex-direction: column;
    margin: 10px 0px 10px 0;
    font-family: Open Sans, serif;
    font-style: normal;
    align-items: center;
    mix-blend-mode: normal;
    color: #FFFFFF;
    cursor: pointer;
    background: #232439;
    justify-content: space-between;

    &__data {
      margin-right: 20px !important;
    }

    &__star {
      margin-left: 20px !important;
    }

    &__img {
      width: 180px;
      height: 156.64px;
    }
  }
  .product, .product-v2 {
    display: none;
  }
}
